<fieldset class="form-group">
    <button type="submit" class="btn btn-info btn-block" (click)="open(content)"  [disabled]="false">
      Continuar &nbsp;<i class="fas fa-car"></i> 
    </button>
</fieldset>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Reserva : </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    	<p><strong>Cuando : </strong>{{ reserv.date }} {{ reserv.hour }}</p>
        <p><strong>Desde  : </strong>{{ reserv.origin }}</p>
        <p><strong>Hasta : </strong>{{ reserv.destiny }}</p>
        <p><strong>Preferencia : </strong>{{ preferences }}</p>
        <p><strong>Precio Aproximado : </strong>$ {{ reserv.approx_price }}</p>
    </div>
    <div *ngIf="!view_msg" class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="c('Close click')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="save()">Confirmar</button>
    </div>
    <div *ngIf="view_msg">
        <ngb-alert [type]="alert.type" [dismissible]="false">
          <strong>{{ alert.title }}</strong>{{ alert.message }}
        </ngb-alert>
    </div>
</ng-template>
<ngx-spinner size="large"></ngx-spinner>