<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">

        <a *ngIf="profile == 'admin' || profile == 'cliente'" routerLink="/dashboard/reserv" 
        [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp; Reservar
        </a>

        <a *ngIf="profile == 'admin'" [routerLink]="['/charts']" 
        [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp; Estadisticas
        </a>

        <a *ngIf="profile == 'admin' || profile == 'cliente'" [routerLink]="['/dashboard/mytrips']" 
        [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp; Mis Viajes
        </a>

        <a *ngIf="profile == 'admin' || profile == 'chofer'" [routerLink]="['/bs-element']" 
        [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp; Elementos Boots
        </a>

        <ng-container *ngIf="profile == 'admin'">

            <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-wrench"></i>&nbsp; Grillas
            </a>

            <a  [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" 
            class="list-group-item">
                <i class="fa fa-th-list"></i>&nbsp; Componentes
            </a>

            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('p1')">
                    <span><i class="fa fa-fw fa-car"></i>&nbsp; Vehiculos </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'p1'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/car/add']">
                                <span><i class="fa fa-fw fa-plus-circle"></i> Alta </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/car/list']">
                                <span><i class="fa fa-fw fa-list-ul"></i> Lista  </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('p2')">
                    <span><i class="fa fa-fw fa-users"></i>&nbsp; Usuarios </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'p2'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/user/add']">
                                <span><i class="fa fa-fw fa-plus-circle"></i> Alta </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/user/list']">
                                <span><i class="fa fa-fw fa-list-ul"></i> Lista  </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-file-o"></i>&nbsp; Pagina en Blanco 
            </a>
        </ng-container>
    </div>
</nav>
