<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <!-- admin solo test -->
        <a *ngIf="profile == 'admin' || profile == 'cliente'" [routerLink]="['/dashboard/reserv']" 
           [routerLinkActive]="['router-link-active']" class="list-group-item">
           &nbsp;<i class="fas fa-map-marked-alt"></i>&nbsp;&nbsp; Reservar
        </a>

        <!-- admin solo test -->
        <a *ngIf="profile == 'admin' || profile == 'cliente'" 
           [routerLink]="['/dashboard/myreservs']" 
           [routerLinkActive]="['router-link-active']" class="list-group-item">
           <i class="fa fa-fw fa-table"></i>&nbsp; Mis Reservas
        </a>

        <a *ngIf="profile == 'cliente'" 
           [routerLink]="['/dashboard/history/client',{button:'Historial', profile:'cliente'}]" 
           [routerLinkActive]="['router-link-active']" class="list-group-item">
           <i class="fa fa-fw fa-desktop"></i>&nbsp; Historial
        </a>

        <a *ngIf="profile == 'chofer'" 
           [routerLink]="['/dashboard/history/driver',{button:'Historial', profile:'chofer'}]" 
           [routerLinkActive]="['router-link-active']" class="list-group-item">
           <i class="fa fa-fw fa-desktop"></i>&nbsp; Historial
        </a>

        <a *ngIf="profile == 'chofer'" 
           [routerLink]="['/dashboard/assignments',{button:'Asignaciones'}]"  
           [routerLinkActive]="['router-link-active']" class="list-group-item">
           <i class="fa fa-fw fa-desktop"></i>&nbsp; Asignaciones
        </a>

        <ng-container *ngIf="profile == 'admin'">
            <a [routerLink]="['/charts']" 
              [routerLinkActive]="['router-link-active']" class="list-group-item">
              <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp; Estadisticas
            </a>

            <a [routerLink]="['/dashboard/trips',{button: 'Viajes'}]" 
              [routerLinkActive]="['router-link-active']" class="list-group-item">
              <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp; Viajes
            </a>

            <a [routerLink]="['/dashboard/assign',{button: 'Asignar'}]" 
               [routerLinkActive]="['router-link-active']" 
               class="list-group-item">
              &nbsp;<i class="fa far fa-calendar-plus"></i>&nbsp;Asignar
            </a>

            <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" 
               class="list-group-item">
               <i class="fa fa-th-list"></i>&nbsp; Componentes
            </a>

            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('p1')">
                    <span><i class="fa fa-fw fa-car"></i>&nbsp; Vehiculos </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'p1'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/car/add']">
                                <span><i class="fa fa-fw fa-plus-circle"></i> Alta </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/car/list']">
                                <span><i class="fa fa-fw fa-list-ul"></i> Lista  </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('p2')">
                    <span><i class="fa fa-fw fa-users"></i>&nbsp; Usuarios </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'p2'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/user/add']">
                                <span><i class="fa fa-fw fa-plus-circle"></i> Alta </span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/user/list']">
                                <span><i class="fa fa-fw fa-list-ul"></i> Lista  </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </ng-container>
    </div>
</nav>
