

<div class="w3_info" *ngIf="!spinner">
	<h2>Crear una Cuenta</h2>
	<p>Si ya tiene una cuenta ingrese aqui. 							
		<button class="btn btn-danger btn-block" (click)="signIn()" >Ingresar</button>  
	</p>
	<form [formGroup]="rForm" (ngSubmit)="signUp()">
		<div class="input-group" >
			<span><i class="fa fa-user" aria-hidden="true"></i></span>
			<input type="text" formControlName="name" placeholder="Nombre">
		</div>
		<div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
		{{ titleAlert }}</div> 
		<div class="input-group">
			<span><i class="fa fa-user" aria-hidden="true"></i></span>
			<input type="text" formControlName="lastName" placeholder="Apellido"> 
		</div>
		<div class="alert" *ngIf="!rForm.controls['lastName'].valid && rForm.controls['name'].touched">
		{{ titleAlert }}</div> 
		<div class="input-group">
			<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
			<input type="email" formControlName="email" placeholder="Correo Electronico">
		</div>
		<div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['name'].touched">
		{{ emailAlert }}</div>  
		<div class="input-group">
			<span><i class="fa fa-lock" aria-hidden="true"></i></span>
			<input type="Password" formControlName="password" placeholder="Contraseña">
		</div>
		<div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['name'].touched">
		{{ titleAlert }}</div> 
		<div class="input-group">
			<span><i class="fa fa-lock" aria-hidden="true"></i></span>
			<input type="Password" formControlName="Confpassword" placeholder="Confirme Contraseña">
		</div>
		<div class="alert" *ngIf="!rForm.controls['Confpassword'].valid && rForm.controls['name'].touched">
		{{ titleAlert }}</div> 
		<input type="checkbox" formControlName="remember" /> 
		<h4>Recordarme</h4>  <!--[disabled]="!rForm.valid" -->
	    <button type="submit" class="btn btn-danger btn-block" [disabled]="!rForm.valid">Crear Cuenta</button>
    </form>
</div>

<div class="container" id="app" *ngIf="spinner">
  <div class="spinner"></div>
  <div class="h1">
    <p>carregando...</p>
  </div>
</div>



	

		
	

