
<div [@routerTransition]>
    <div class="row">
        <div class="col-lg-4">
        
            <div class="card mb-3">
                <div class="card-header">Seleccione fecha y hora</div>
                <div class="card-body">

                    <form class="form-inline ">
                        
                        <app-date-picker [data]="data" (sendDate)="takeDate($event)">
                        </app-date-picker>&nbsp;&nbsp;
                         
                        <app-timepicker [data]="data" (sendTime)="takeTime($event)">
                        </app-timepicker>
                      
                    </form>

                    <div class="alert alert-info mb-0">
                        <strong>Fecha :</strong> {{ selection.date }} {{ selection.time }}
                    </div>
                </div>
            </div>
            
            <div class="row">
              <div class="col-md-5">
                <label>Medio de pago : </label>
              </div>
              <div class="col-md-7">
                <fieldset class="form-group">
                  <select  class="form-control" [(ngModel)]="reserv.payment_method">
                    <option value="efectivo">Efectivo</option>
                    <option value="tarjeta">Tarjeta</option>
                  </select>
                </fieldset>
              </div>
            </div>

            <ngb-alert [type]="'info'"  [dismissible]="false">
              <strong>Preferencias : </strong> {{preferences}}
            </ngb-alert>

            <div class="row">
                <div class="col-lg-6">
                    <app-modal-preferencias (sendCar)="takeCar($event)"></app-modal-preferencias>
                </div>
                <div class="col-lg-6">
                    <app-modal-confirmacion 
                    (sendValidation)="takeValidation($event)" 
                    (sendResult)="takeResult($event)" 
                    [reserv]="reserv"
                    [create]="create"  
                    [default_destiny]="default_destiny"> 
                    </app-modal-confirmacion> 
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6">
                    <fieldset class="form-group">
                        <label>Origen  &nbsp; &nbsp;</label>
                        <i class="fas fa-globe" (click)="goMyUbication()"></i>
                        <input places-auto-complete
                               [(ngModel)]="default_origin" 
                               class="form-control"
                               (place_changed)="placeChanged($event,'ori')"
                               [types]="['geocode']">
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset class="form-group">
                        <label>Destino</label>
                        <input class="form-control"
                               places-auto-complete
                               [(ngModel)]="default_destiny"
                               class="form-control"
                               (place_changed)="placeChanged($event,'des')"
                               [types]="['geocode']" >
                    </fieldset>
                </div>
            </div>

            <ngui-map [center]="center">
               <marker [position]="marker_destiny"></marker>
               <marker [position]="marker_origin"></marker>
               <directions-renderer
                [suppressMarkers]="true"
                (directions_changed)="directionsChanged()"
                [draggable]="false"
                panel="#my-panel"
                [directions-request]="direction">
              </directions-renderer>
            </ngui-map>

            <ngb-alert *ngIf="alert.view" [type]="alert.type"  [dismissible]="false">
              <strong>{{ alert.title }}</strong>{{ alert.message }}
            </ngb-alert>
            <div id="my-panel"></div>
                
        </div>
    </div>
</div>