<div [@routerTransition]>
<app-page-header [heading]="'Genere su reserva...'" [icon]="'far fa-suitcase'"></app-page-header>
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header">Seleccione fecha y hora</div>
                <div class="card-body">

                    <form class="form-inline ">
                        
                        <app-date-picker (sendDate)="takeDate($event)"> </app-date-picker>&nbsp;&nbsp;
                         
                        <app-timepicker (sendTime)="takeTime($event)"></app-timepicker>
                      
                    </form>

                    <div class="alert alert-info mb-0">
                        <strong>Fecha :</strong> {{ selection.date }} {{ selection.time }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block" (click)="save()" [disabled]="false">
              Reservar &nbsp;<i class="fas fa-car"></i> 
            </button>
        </div>
    </div>
</div>